.skeleton {
  opacity: 0.7;
  animation: skeletion-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 2rem;
  border-radius: 0.3rem;

  &--big {
    height: 3.2rem;
  }

  &--half-width {
    width: 50%;
  }
}

.skeleton-button {
  width: 18%;
  height: 3rem;
}

@keyframes skeletion-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 85%);
  }
}
