// Colors
$color-blue-dark: hsl(209, 23%, 22%); //Dark Blue (Dark Mode Elements)
$color-blue-darker: hsl(207, 26%, 17%); //Very Dark Blue (Dark Mode Background)
$color-blue-darkest: hsl(200, 15%, 8%); //Very Dark Blue (Light Mode Text)
$color-blue-light: hsl(209, 23%, 40%);
$color-blue-lighter: hsl(200, 20%, 70%);
$color-blue-lightest: hsl(200, 20%, 85%);
$color-gray-dark: hsl(0, 0%, 52%); //Dark Gray (Light Mode Input)
$color-gray-dark-fade: hsla(0, 0%, 52%, 0.5);
$color-gray-dark-fader: hsla(0, 0%, 52%, 0.2);
$color-gray-light: hsl(0, 0%, 98%); //Very Light Gray (Light Mode Background)
$color-white: hsl(0, 0%, 100%); //White (Dark Mode Text & Light Mode Elements)

// Box shadows
$box-shadow: var(--box-shadow-color) 0px 2px 8px 0px;
$box-shadow-hover: var(--box-shadow-color-hover) 0px 2px 8px 0px;

// Typography
$font-primary: 'Nunito', sans-serif;
$font-size-1: 1.4rem;
$font-size-2: 1.6rem;

// Breakpoints
$bp-desktop: 90em; // 1440px / 16 = 90em
$bp-desktop-smaller: 67.5em; // 1080px / 16 = 62.5em
$bp-mobile-larger: 37.5em; // 600px / 16 = 37.5em
$bp-mobile: 23.4375em; // 375px / 16 = 23.4375em

// light mode (default)
:root {
  --bg-color-primary: #{$color-gray-light};
  --bg-color-secondary: #{$color-white};
  --bg-color-skeleton-start: #{$color-blue-lighter};
  --bg-color-skeleton-end: #{$color-blue-lightest};
  --text-color-primary: #{$color-blue-darkest};
  --text-color-primary-hover: #{$color-blue-light};
  --text-color-secondary: #{$color-gray-dark};
  --box-shadow-color: #{$color-gray-dark-fader};
  --box-shadow-color-hover: #{$color-gray-dark-fade};
  --border-color: #{$color-gray-dark-fade};
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%

  @media only screen and (max-width: $bp-mobile) {
    font-size: 50%;
  }
}

body {
  font-family: $font-primary;
  font-size: $font-size-1;
}

button {
  cursor: pointer;
  padding: 0 1em;
}

.app {
  background-color: var(--bg-color-primary);

  // dark mode
  &.dark-mode {
    --bg-color-primary: #{$color-blue-darker};
    --bg-color-secondary: #{$color-blue-dark};
    --bg-color-skeleton-start: #{$color-blue-light};
    --bg-color-skeleton-end: #{$color-blue-lightest};
    --text-color-primary: #{$color-white};
    --text-color-primary-hover: #{$color-blue-lightest};
    --text-color-secondary: #{$color-white};
    --box-shadow-color: #{$color-blue-darker};
    --box-shadow-color-hover: #{$color-blue-light};
    --border-color: #{$color-blue-light};
  }
}
