.icon {
  color: var(--text-color-primary);

  &.clickable {
    cursor: pointer;

    &:hover {
      color: var(--text-color-primary-hover);
    }
  }
}

.button {
  background-color: var(--bg-color-secondary);
  color: var(--text-color-primary);
  padding: 0.75rem 2rem;
  border-radius: 0.4rem;
  box-shadow: $box-shadow;
  border: none;
  cursor: pointer;
  transition: all 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  i {
    color: var(--text-color-primary);
  }

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  &.transparent {
    background-color: transparent;
    box-shadow: none;
    color: var(--text-color-primary);
    padding: 0;

    &:hover {
      color: var(--text-color-primary-hover);

      i {
        color: var(--text-color-primary-hover);
      }
    }
  }
}

.countries-card {
  height: 34rem;
  width: 25rem;
  background-color: var(--bg-color-secondary);
  color: var(--text-color-primary);
  box-shadow: $box-shadow;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    transform: translateY(-0.5rem);
    box-shadow: $box-shadow-hover;
  }

  &__flag {
    height: 46%;

    &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__details {
    height: 56%;
    padding: 2.5rem;

    &__main {
      margin-bottom: 2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &__sub {
      margin-bottom: 0.75em;
      display: flex;
      gap: 0.5rem;

      &--value {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

.search-bar {
  width: 45%;
  min-width: 30rem;
  max-width: 45rem;
  background-color: var(--bg-color-secondary);
  color: var(--text-color-secondary);
  padding: 1.5rem 2.5rem;
  border-radius: 0.4rem;
  box-shadow: $box-shadow;
  transition: all 0.2s;

  display: flex;
  gap: 2rem;

  &:hover {
    box-shadow: $box-shadow-hover;
  }

  .icon {
    color: var(--text-color-secondary);
  }

  input {
    border: none;
    width: 100%;
    background: transparent;
    color: var(--text-color-secondary);

    &::placeholder {
      color: var(--text-color-secondary);
    }

    &:focus {
      outline: none;
    }
  }
}

.filter-dropdown {
  cursor: pointer;
  width: 25%;
  min-width: 20rem;
  max-width: 25rem;
  position: relative;
  user-select: none;
  color: var(--text-color-primary);

  &__select {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    background-color: var(--bg-color-secondary);
    padding: 1.5rem 2.5rem;
    border-radius: 0.4rem;
    box-shadow: $box-shadow;
    transition: all 0.2s;

    &:hover {
      box-shadow: $box-shadow-hover;
    }

    &__arrow-icon {
      color: var(--text-color-primary);
    }
  }

  &__options {
    position: absolute;
    top: 6rem;
    right: 0;

    z-index: 2;
    width: 100%;
    background-color: var(--bg-color-secondary);
    padding: 1.5rem 2.5rem;
    border-radius: 0.4rem;
    box-shadow: $box-shadow;
    transition: all 0.2s;

    &.hide {
      display: none;
    }

    &:hover {
      box-shadow: $box-shadow-hover;
    }

    &__item {
      padding: 0.8rem 0;

      &.break {
        margin-top: 0.2rem;
        border-top: 0.1rem solid var(--border-color);
        padding-top: 1rem;
      }

      &:hover {
        color: var(--text-color-primary-hover);
      }
    }

    @media only screen and (max-width: $bp-mobile) {
      top: 6.5rem;
    }
  }
}
