.detail {
  padding: 0 2rem;

  &__header {
    margin-top: 3rem;
    margin-bottom: 6rem;
  }
}

.country-detail {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 41.62rem), 1fr));
  place-items: center;
  column-gap: 10rem;
  row-gap: 4rem;
  color: var(--text-color-primary);
  width: 100%;

  &__flag {
    max-height: 100%;
    max-width: 100%;
    min-width: 35rem;
    min-height: 24rem;

    @media only screen and (max-width: $bp-desktop-smaller) {
      max-width: 60%;
    }

    &__img {
      max-height: 100%;
      max-width: 100%;
      min-width: 100%;
      min-height: 100%;
      object-fit: contain;
    }
  }

  &__details {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;
    width: 100%;

    &__main {
      margin-bottom: 2rem;
    }

    &__sub {
      display: flex;
      column-gap: 5rem;
      row-gap: 4rem;
      flex-wrap: wrap;

      &__left {
        flex-grow: 1;
      }

      &__right {
        flex-grow: 1;
      }
    }

    &__border-countries {
      padding: 1rem 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1.5rem;
      overflow: hidden;

      button {
        margin: 0 0.5rem;
      }
    }

    &__row {
      margin-bottom: 1em;
      line-height: 1.5;
      display: flex;
      gap: 0.5rem;

      &--value {
        flex: 1;
      }
    }
  }
}
