.home {
  &__header {
    margin-bottom: 6rem;

    display: flex;
    justify-content: space-between;
    gap: 5rem;
    flex-wrap: wrap;

    .search-bar,
    .filter-dropdown {
      flex: 1;
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(max(22%, 25rem), 1fr));
    justify-items: center;
    gap: 5rem;
  }

  &__footer {
    display: flex;
    padding: 4rem 0;
    justify-content: center;
  }
}
