.home {
  &__header {
    margin-bottom: 6rem;

    display: flex;
    justify-content: space-between;
    gap: 5rem;
    flex-wrap: wrap;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
    gap: 5rem;
  }

  &__footer {
    display: flex;
    padding: 4rem 0;
    justify-content: center;
  }
}
