.navbar {
  height: 7.25rem;
  padding: 2rem 5rem;
  background-color: var(--bg-color-secondary);
  color: var(--text-color-primary);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  justify-content: space-between;
}

.main {
  width: 90vw;
  margin: 4rem auto;
  min-height: calc(100vh - 7.25rem - 4rem);
  margin-bottom: 0;
}
