.navbar {
  height: 7.25rem;
  padding: 2rem 5rem;
  background-color: $color-white;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  display: flex;
  justify-content: space-between;
}

.main {
  padding: 4rem 5rem;
  min-height: calc(100vh - 7.25rem);
}
