// Colors

// Typography
$font-primary: 'Nunito', sans-serif;
$font-size-1: 1.4rem;
$font-size-2: 1.6rem;

// Breakpoints

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //1rem = 10px 10px/16px = 62.5%
}

body {
  font-family: $font-primary;
  font-size: $font-size-1;
}
